<!DOCTYPE html><!--[if lt IE 7]>
<html lang="en" ng-app="AisWeb" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]--><!--[if IE 7]>
<html lang="en" ng-app="AisWeb" class="no-js lt-ie9 lt-ie8"> <![endif]--><!--[if IE 8]>
<html lang="en" ng-app="AisWeb" class="no-js lt-ie9"> <![endif]--><!--[if gt IE 8]><!-->
<html lang="en" ng-app="AisWeb" class="no-js"><!--<![endif]-->
<head>
    <meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AisWeb Géolocation Mobile et Traceur/Alarm GPS</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/bower_components/angular-ui-notification.css">
    <link rel="stylesheet" href="/bower_components/foundation-icons.css">
    <link rel="stylesheet" href="/bower_components/leaflet.css">
    <link rel="stylesheet" href="/global_styles/ibz-global.min.css">
    <link rel="stylesheet" href="/global_styles/foundation-conf.min.css">
    <link rel="stylesheet" href="styles/AisWeb.min.css"><base href="/aisweb/">
</head>
<body>
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<script src="/bower_components/angular.js">
</script><div ui-view></div><script src="/bower_components/angular-animate.js">   
</script><script src="/bower_components/angular-ui-notification.js">    
</script><script src="/bower_components/angular-ui-router.js">
    
    
</script><script src="/bower_components/fastclick.js"></script>
<script src="/bower_components/foundation-apps-templates.js">    
</script><script src="/bower_components/foundation-apps.js"></script>
<script src="/bower_components/hammer.js"></script>
<script src="/bower_components/leaflet-src.js"></script>
<script src="/bower_components/tangram.min.js"></script>
<script src="/bower_components/tether.js"></script>
<script src="/bower_components/viewport-units-buggyfill.hacks.js">        
</script><script src="/bower_components/viewport-units-buggyfill.js">
    
</script><script src="AisWeb.min.js"></script>
<script id="components/modal/modal.html" type="text/ng-template"><div  class="modal-overlay" ng-click="hideOverlay()">
    <aside class="modal" ng-click="$event.stopPropagation();" ng-transclude></aside>
</div></script></body></html>